.scoreboard-container {
  /* border: solid green; */
  margin: 0px 20px;
  height: 60px;
  padding: 0px 30px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instuctions {
  color: white;
  font-size: 20px;
}

.scoreBoard {
  margin-right: 20px;
}

.diffucultyButton {
  background-color: white;
  border-radius: 20px;
  margin-right: 10px;
  height: 30px;
  width: 62px;
  text-align: center;
  border: none;
}

.diffucultyButton:hover {
  background-color: lightgray;
}

.lastDiffucultyButton {
  background-color: white;
  border-radius: 20px;
  /* margin-right: 10px; */
  height: 30px;
  width: 62px;
  text-align: center;
  border: none;
}

.lastDiffucultyButton:hover {
  background-color: lightgray;
}
